<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167287863-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167287863-1');
</script>

    <link href="/localhost_files/bootstrap.min.css" rel="stylesheet" integrity="sha384-0Mou2qXGeXK7k/Ue/a1hspEVcEP2zCpoQZw8/MPeUgISww+VmDJcy2ri9tX0a6iy" crossorigin="anonymous">
  <style>
.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 30%; 
  min-height: 30%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
      
    </style>

<script type="text/javascript" src="/about/About_files/jquery-1.7.1.min.js.download"></script>
</head>
  <body>
    <div>
     <header>

        <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:black">

            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img class="img-fluid" src="/localhost_files/Alicetrixlogoblack.png" width="150" alt="">
                </a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul id="navx" class="navbar-nav mr-auto">

                            <li class="nav-item active">
                                <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">

                              <a class="nav-item nav-link" href="/Services/">Services</a>
                            </li>

                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Enterprise Migrator (AxO)
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-item nav-link" href="/AxO/">Migrator (AxO)</a>
                                <a class="nav-item nav-link" href="/about">Help (AxO)</a>                                
                              </div>
                            </li>
                            
                    </ul>
                    <script>
                      $(document).ready(function () {
                  
                          $("#navx li").click(function () {
                              $("#navx li").removeClass("active");
                              $(this).addClass("active");
                          });
                      });
                  </script>

                    
  
                   

                </div>


            </div>

        </nav>

    </header>
  </div>
       
<div class="container">
  <p>
      &nbsp;
  </p>  
</div>
<div class="container">      
   {{ content }}

      <hr/>
      <footer>
          <div class="row">
              <div class="col-md-4" style="outline: 0px;">
                  <h5>© 2019 - Alicetrix LLC</h5>                    
              </div>
              <div class="col-md-8" style="outline: 0px;">
                  <h5>
                      Contact us at our support email with your queries
                      at: <a href="mailto:contacts@alicetrix.com?subject=Support%20Needed">support@alicetrix.com</a><br>
                  </h5>
                  <div class="" id="accordion">
                      <div class="" id="headingOne">
                          <a href="./#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Assumptions and Liability Disclaimers
                          </a>
                      </div>
                      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body">
                              <p>
                                  *Active tenants for migration should be deprovisioned to stop charges. Microsoft Azure provides options to provision and deprovision tenants on a click of a button from cloud platforms.
                              </p>
                              <p>
                                  ²Any Speed advertised is not promised but based on our results in labs and active customers.
                              </p>
                              <p>
                                  *Under consideration for Patent
                              </p>
                              <p>
                                  ³In some cases Bandwidth charges may apply. Please visit your current bandwidth requirements with your cloud provider for both source and destination tenant as well as Hosting environment
                              </p>
                              <p>
                                  <span class="badge badge-warning">Safe Harbor</span>
                                                                     Alicetrix Enterprise File Migrator software has been tested and validated in confines of generic requirements. You are expected to test and ensure software is able to meet your requirements. The software is provided "As is", without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and non-infringement. In no event shall the authors or copyright holders be liable for any claim, damages or other liability, whether in an action of contract, or otherwise, arising from, out of or in connection with the software or the use or other dealings in the software. Please direct all your queries on know-how of application to company support email address.NO SLA Applies.
                              </p>
                          </div>
                      </div>
                  </div>
                  &nbsp;
                  <h6>
                      ©Copyrighted
                  </h6>
              </div>             
          </div>             
          </footer></div>  
  <script src="/localhost_files/jquery.min.js.download"></script>
  <script src="/localhost_files/popper.min.js.download"></script>
  <script src="/localhost_files/jquery.unobtrusive-ajax.min.js.download"></script>
  <script src="/localhost_files/bootstrap.min.js.download"></script>
<!-- Visual Studio Browser Link -->
<script type="text/javascript" src="/localhost_files/browserLink" async="async" id="__browserLink_initializationData" data-requestid="1fa2c29fa5d14f32ba15b848f1d33779" data-requestmappingfromserver="False"></script>
<!-- End Browser Link -->

      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        This site is open source. {% github_edit_link "Improve this page" %}.
      </div>
      {% endif %}
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </div>
  </body>
</html>
